* {
  margin: 0;
  padding: 0;
}

.product_display {
  margin: 1em;
  color: rgb(85, 105, 99);
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

.product_rating p {
  font-weight: bold;
}

.product_rating {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 2em;
}

.product_image {
  margin: 2em;
  display: flex;
  height: 20em;
}

@media only screen and (max-width: 600px) {
  .product_image {
    height: 10em;
    width: 10em;
  }
}

@media only screen and (max-width: 994px) {
  .product_image {
    height: 14em;
    width: 14em;
  }
}

.product_image_content {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product_image_content p {
  background-color: red;
  height: 2%;
  border-radius: 45%;
  color: white;
  padding: 0.4%;
}

.product_image_content a {
  height: 2em;
}

.product_image_content a:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.share_icon {
  margin-right: 1em;
}

.design {
  border: 2px solid rgb(211, 198, 198);
  padding: 0.9em;
  border-radius: 0.8em;
  white-space: normal;
  -webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
}

.product_price {
  margin-top: 0.8em;
  color: rgb(91, 49, 49);
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.product_price1 {
  margin-left: 0.04em;
  font-size: xx-large;
  font-weight: bolder;
}

.product_price2 {
  margin-left: 0.09em;
  font-size: xx-large;
  font-weight: bold;
  color: brown;
}
.mrp {
  display: flex;
  font-size: large;
  flex-direction: row;
  align-items: baseline;
  margin-top: 0.4em;
}

.tittle {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: bold;
}

.product_mrp {
  margin-top: 0.3em;
  text-decoration: line-through;
}

.product_description {
  margin-top: 1em;
  line-height: 1.4em;
}

.cart_component {
  margin-top: 1em;
}

.cart_component a {
  text-decoration: none;
  color: black;
}

.addtocart {
  width: 100%;
  margin-top: 1em;
  background-color: rgb(179, 223, 36);
  color: black;
  padding: 0.8em;
  border-radius: 10%;
  border: 1px solid white;
}

.buynow {
  width: 100%;
  margin-top: 1em;
  background-color: orange;
  padding: 0.8em;
  border-radius: 10%;
  border: 1px solid white;
}

.timer {
  display: inline;
  font-size: large;
  font-weight: bold;
  padding: 0.2em;
}

.addcart_alert {
  padding: 0.4em;
  background-color: bisque;
}
