.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 80%;
  margin: 0.5em auto;
  text-align: center;
}

.search {
  margin: 0px auto;
  width: 70%;
}

.search__icon {
  margin-left: 0.3em;
  margin-bottom: 0.2em;
}

.search__list {
  width: 85vw;
  margin: 0 auto;
  background-color: white;
  position: absolute;
  top: 2.5rem;
  color: black;
  z-index: 2;
  overflow-x: hidden;
}

.search__result {
  overflow-wrap: break-word;
}

.main_container {
  padding-bottom: 1em;
}

.background_effect {
  background-color: rgb(216, 216, 202);
}
