@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

.cartItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
}

.imgText {
  text-align: center;
}

.btnDiv {
  display: flex;
  align-items: center;
}

.cart-actions {
  width: 2em;
  height: 25px;
  background: rgba(24, 89, 219, 0.7);
  margin: 1em;
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
}

.cartIcon {
  margin-top: 2em;
}

.cartIcon h3 {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.galleryy {
  margin-left: 1em;
  text-align: center;

  width: 10em;
}

.cart-container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.1em;
  margin-top: 10vh;
  padding: 0.3em;
}

.cart_image {
  height: 6em;
}

.checkout_button {
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .checkout_button {
    margin-left: 36%;
  }

  .cart_image {
    height: 3em;
  }

  .galleryy {
    margin-left: 0.1em;
    margin-right: 0.4em;
  }

  .cartItem p {
    margin: 0.4em;
  }

  .cart-actions {
    margin: 0.1em;
  }

  .cart_total {
    margin-right: 0em;
  }

  .product_name {
    font-size: 0.7em;
  }
}

.cart_total {
  margin-right: 2em;
}

.scrollContainerCart {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.scrollContainerCart::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.cartItem {
  display: flex;
  margin: 0.8em;
  justify-content: space-around;
  padding: 8px;
  font-family: 'Poppins', 'sans-serif';
  font-size: 15px;
  font-style: italic;
  color: black;
  align-items: center;
}

.product_name {
  text-align: center;
  font-weight: bold;
}

.title {
  text-align: center;
}

.cart_warning {
  background-color: rgb(162, 111, 98);
  color: white;
  text-align: center;
}

.cart_finaltotal {
  background-color: rgb(138, 129, 45);
  color: white;
  width: 11em;
  padding: 0.3em;
  margin-top: 2em;
  margin-left: 41%;
  border-radius: 0.5em;
}

.img-fluid {
  height: 600px;
  width: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
