*{
    margin: 0;
    padding: 0;
}

.header_1{
    background-color: black;
    width: 100%;
}

.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    
}